.emmet-lang-tag {
    text-transform: uppercase;
}
.emmet-alert-with-tips ul {
    padding-left: 20px;
}

nav .navbar-brand img {
    height: 35px; width: auto;
}
nav .dropdown-menu span.oi {
    width: 16px;
    text-align: center;
    margin-right: 2px;
}

.emmet-song-toolbar ul.nav {
    padding-left: 5px; padding-right: 5px;
}
.emmet-song-toolbar a.nav-link {
    padding-left: 10px; padding-right: 10px;
}
.emmet-song-toolbar a.nav-link.disabled {
    color: #666;
}
.emmet-song-toolbar a.nav-link.emmet-lang-btn.disabled:after {
    display: none;
}
.emmet-song-toolbar a.nav-link.active {
    border-radius: 0px;
}
.emmet-song-tab, .emmet-song-lang {
    display: none;
}
.emmet-song {
    display: table;
    border-spacing: 7px 10px;
    margin-left: -7px; margin-top: -10px;
}
.emmet-song-verse {
    display: table-row;
}
.emmet-song-verse > * {
    display: table-cell;
}
.emmet-song-verse .emmet-header {
    background-color: #444;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
}
.emmet-song-verse .emmet-header.emmet-chorus {
    background-color: #981b27;
}
.emmet-song-verse .emmet-header.emmet-bridge {
    background-color: #003e80;
}
.emmet-song-verse .emmet-body {
    padding-bottom: 5px;
}
.emmet-song-verse .emmet-body.emmet-chorus {
    font-style: italic;
}
.emmet-song-verse .emmet-body p {
    margin-bottom: 0px;
}
.emmet-song-verse .emmet-body p::after {
    content: "";
    display: inline-block;
    width: 0px;
}

.emmet-page {
    display: none;
}

#emmet-loading {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1035; /* Bootstrap modals (1040-1050) should be in front of it */
}
#emmet-loading > div {
    position: relative;
    top: 50%; transform: translateY(-50%);
    text-align: center;
    color: white;
}
#emmet-loading img.emmet-loading-logo {
    height: 70px; width: auto;
    margin-bottom: 10px;
}
#emmet-loading p.emmet-loading-text {
    font-size: 20px;
}
#emmet-fatal-modal code {
    color: black;
}

#emmet-search-modal .emmet-advs-mode-list legend {
    padding-top: .5em;
    margin-bottom: .5em;
    font-size: 1.1rem;
}
#emmet-search-modal .emmet-advs-mode-list ul {
    display: table;
    width: 100%;
    padding-left: 0;
    margin-left: 0; margin-bottom: 0;
}
#emmet-search-modal .emmet-advs-mode-list ul > li {
    display: table-row;
    list-style-type: none;
}
#emmet-search-modal .emmet-advs-mode-list ul > li > div {
    margin-bottom: 10px;
    border: 1px solid #444;
    padding: 5px;
    border-radius: 5px;
}
#emmet-search-modal .emmet-advs-mode-list ul > li.emmet-active > div {
    background-color: #444;
}
#emmet-search-modal .emmet-advs-mode-list ul > li > div > * {
    display: table-cell;
    vertical-align: middle;
}
#emmet-search-modal .emmet-advs-mode-list ul > li > div > *:not(:first-child) {
    padding-left: .5em;
}
#emmet-search-modal .emmet-advs-mode-list ul > li span.oi {
    font-size: 1.5rem;
}
#emmet-search-modal .emmet-advs-mode-list ul > li > div > * label {
    display: block;
    margin-bottom: 0px;
}

/* Bootstrap overrides */
.list-group-item-action:hover {
    background-color: #393939;
}
